[core]
	autocrlf = false
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.gitmessage
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /workspace